/js
/sch
/delay
/gtzwd
/bureau*
/ccrgt*
/detail
/equip*
/carcode*
/gdcj
/list
/hyfw
/emu
/preseq
/search
/station
/ticket
/*.pyc
/*.js
/*.gz
/*.7z
/*.zip
/*.rar
/*.exe
/*.dll
curl/*
.git/*
.vscode
__pycache__
