/js
/sch
/delay
/gtzwd
/log
/bureau*/
/ccrgt*/
/detail
/equip*/
/carcode*/
/line
/gdcj
/list
/hyfw
/emu
/preseq
/search
/station
/ticket
/*.pyc
/*.js
/*.gz
/*.7z
/*.zip
/*.rar
/*.exe
/*.dll
curl/*
.git/*
.vscode
__pycache__
